@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Roboto:wght@100;300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: white;
}

:root {
    --main-bg-color: #bd6418;
    --font1: "Garamond";
    --font2: "Roboto", sans-serif;
}

body {
    font-family: var(--font2);
    background-color: #0B1D26;
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
    z-index: 1;
}

h2 {
    color: white;
    font-family: var(--font1);
    font-size: 5rem;
    margin: 0.5rem 0rem;
    font-weight: 600;
}

h3 {
    color: #FBD784;
    font-family: var(--font2);
    font-size: 1.3rem;
    margin: 0.5rem 0rem;
    display: inline;
    letter-spacing: 0.4rem;
}

h4 {
    color: #FBD784;
    font-family: var(--font2);
    font-size: 1.7rem;
    margin: 0.5rem 0rem;
    display: inline;
    letter-spacing: 0.1rem;
}

h6 {
    color: #FBD784;
    font-family: var(--font2);
    font-size: 1.2rem;
    display: inline;
    margin-top: 1rem;
}

p {
    color: white;
    line-height: 2rem;
    font-size: 1.2em;
    margin: 1rem 0rem;
}

#menuList {
    font-family: var(--font2);
    list-style: none;
    display: flex;
}

#menuList li {
    margin: 0rem 2rem;
    font-weight: 600;
}

#logo {
    font-family: var(--font1);
    font-size: 2.5rem;
    font-weight: 900;
    position: relative;
    right: 10rem;

}

.nav {
    display: flex;
    justify-content: space-evenly;
    height: 6rem;
    align-items: center;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.150);
}

#account {
    position: relative;
    bottom: 0.3rem;
}

#account img {
    position: relative;
    top: 0.4rem;
    right: 0.3rem;
}

#social {
    z-index: 15;
    color: white;
    transform: rotate(90deg);
    position: fixed;
    font-size: 1rem;
    font-weight: 600;
    top: 15rem;
    left: 1rem;


}

#social img {
    margin: 1rem 0rem 0rem 1rem;
}

#hero h1 {
    font-family: var(--font1);
    padding-top: 1rem;
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

#main {
    width: 100vw;
}

#images {
    height: 1600px;
    background-repeat: no-repeat;

}

#cloud {
    position: absolute;
    top: -200px;
    z-index: -1;
    width: 100vw;
    object-fit: cover;

}

#mount {
    position: absolute;
    top: 300px;
    z-index: -1;
    width: 100vw;
    object-fit: cover;

}

#land {
    position: absolute;
    top: 560px;
    z-index: -1;
    width: 100vw;
    object-fit: cover;

}

#hero {
    position: absolute;
    height: 100vw;
    z-index: 1;
    margin: auto;
    width: 100vw;
    left: 370px;
    top: 130px;
}

.grad1 {
    background: linear-gradient(6deg, rgba(11, 29, 38, 0.00) 64.06%, #0B1D26 96.93%);
}

.grad2 {
    background: linear-gradient(180deg, rgba(44, 76, 92, 0) 19.52%, #0B1D26 84.38%);
}

.rect {
    margin: 0rem 1rem 0.3rem 0rem;
}

.arrow-down {
    position: relative;
    top: 0.5rem;
    left: 1rem;
}

.arrow-right {
    position: relative;
    top: 0.2rem;
    left: 1rem;
}

#page {
    width: 100%;
    background-color: #0B1D26;
    display: flex;

}

#content1 {
    width: 80%;
    position: absolute;
    top: 1000px;
    margin: 0rem 0rem 0rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#content2 {
    width: 80%;
    position: absolute;
    top: 1700px;
    margin: 0rem 0rem 0rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#content3 {
    width: 80%;
    position: absolute;
    top: 2400px;
    margin: 0rem 0rem 0rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bigText {
    font-size: 15rem;
    font-weight: bolder;
    position: relative;
    right: 10rem;
    color: rgba(255, 255, 255, 0.048);
    z-index: 10;
}

.context {
    width: 40%;
    margin: 0rem 5rem 0rem 5rem;
}

.contImg {
    width: 40%;
    margin: 0rem 5rem 0rem 5rem;
}

#img1 {
    height: 600px;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
}

#flexFooter {
    width: 100vw;
    position: absolute;
    top: 3000px;
    margin: 3rem 0rem 1rem 1rem;
    padding: 3rem 0rem 1rem 1rem;
    background-color: #0B1D26;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#flexFooter ul li  {
    list-style: none;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1.2rem;
}

#Copyright{
color: rgba(255, 255, 255, 0.685);
    margin-top:6rem ;

}

#flexFooter a{
    font-family: var(--font1);
    font-size: 2.5rem;
    font-weight: 900;
}